services:
  db:
    image: mysql:latest
    container_name: mysql_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 123
      MYSQL_DATABASE: expense_db
      MYSQL_USER: pramananda
      MYSQL_PASSWORD: 2002 
    ports:
      - "3306:3306" 
    volumes:
      - mysql_data:/var/lib/mysql 

volumes:
  mysql_data: 
